@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  color: #023047;
  background: #8ecae6;
  display: flex;
  flex-direction: column;
}
html {
  display: flex;
  justify-content: center;
  background: #219ebc;
}
.footer ul{
  list-style: none;
  text-align: center;
}
.footer hr {
  border-color: #023047;
}
.login-signin {
  @apply text-[#F8F8FF] bg-[#FFB703] rounded-full p-[10px] flex justify-center items-center text-[20px] hover:bg-[#11181C] hover:text-[#FFB703] transition-all cursor-pointer
}
.circle-btn {
  @apply bg-[#F8F8FF] rounded-full w-[50px] h-[50px] flex items-center justify-center hover:bg-[#11181C] hover:text-[#F8F8FF] transition-all cursor-pointer
}
.switch {
  @apply border border-[#F8F8FF] rounded-full px-[10px] text-[15px] h-[25px] w-[110px] text-[#F8F8FF] transition-all cursor-pointer hover:bg-[#F8F8FF] hover:text-[#11181C]
}
.social-networks {
  @apply bg-[#219EBC] border-[#11181C] border-2 w-[50px] h-[50px] rounded-full flex items-center justify-center hover:bg-[#11181C] hover:text-[#219EBC] transition-all cursor-pointer
}
.footer-item {
  @apply text-[20px] font-light
}
.footer ul {
  @apply flex-1 list-none text-center
}
.sun-btn {
  @apply bg-[#11181C] text-[#FFB703] rounded-full w-[50px] h-[50px] flex items-center justify-center hover:bg-[#F8F8FF] hover:text-[#FFB703] transition-all cursor-pointer
}
/* ::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #219EBC;
}
::-webkit-scrollbar-thumb {
  background: #023047;
}
::-webkit-scrollbar-thumb:hover {
  background: #035177;
} */
